@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;  /* Chrome, Safari */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@layer utilities {
  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }
  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }
  .padding {
    @apply sm:px-16 px-8 sm:py-16 py-12;
  }
  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }
  .padding-b {
    @apply sm:pb-24 pb-12;
  }
  .startup-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 break-all;
  }
  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }
  .startup-card {
    @apply bg-white border-[5px] border-r-[10px] border-b-[10px] border-black py-6 px-5 rounded-[22px]  transition-all duration-500 hover:bg-primary-100 hover:border-primary;
  }
}
